{
  "type": "postgres",
  "host": "localhost",
  "port": 5432,
  "username": "user",
  "password": "pass-if-set-in-docker",
  "database": "db-name",
  "entities": [
    "./src/models/*.ts"
  ],
  "migrations": [
    "./src/database/migrations/*.ts"
  ],
  "cli": {
    "migrationsDir": "./src/database/migrations"
  }
}

//Remove this line after rename that file to ormconfig.json and configure de params
